<h1 class="text-center">Apply For job</h1>

<div>
  <p class="text-center">* by clicking to one click apply your resume and name and email will be sent to compony</p>
</div>
<div class="text-center">
  <%= link_to "One Click Apply", jobs_oneclickapply_path ,class:"btn btn-success" %>
</div>

<br>

<div class="text-center">
  <%= link_to "Back to jobs", jobs_path %>
</div>
