<h1 class="text-center">Apply For Job</h1>

<div>
  <p class="text-center">* By clicking "One Click Apply," your resume, name, and email will be sent to the company</p>
</div>

<div class="text-center">
  <%= form_with(url: jobs_oneclickapply_path, method: :post) do |f| %>
    <%= f.hidden_field :job_id, value: @job.id %>

    <%= f.submit "One Click Apply", class: "btn btn-success" %>
  <% end %>
</div>

<br>

<div class="text-center">
  <%= link_to "Back to Jobs", jobs_path %>
</div>
