<div class="container">
  <h1 class="text-center">Jobs</h1>

  <div id="jobs" class="card-deck">
    <% @jobs.each do |job| %>
      <div class="py-2">
        <%= render job %>
      </div>
    <% end %>
  </div>

  <% if company_signed_in? %>
    <%= link_to "New job", new_job_path, class: "btn btn-primary text-center" %>
  <% end %>

</div>
